body {
    margin: 0;
}

.napa-header {
    height: 90px;
    background-color: #eee;
}

.napa-header-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.napa-title {
    font-size: 2em;
}

.napa-container {
    width: 900px;
    margin: 80px auto 0 auto;
}

.napa-post.error {
    color: red;
}

.napa-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.napa-nav ul li {
    display: inline-block;
    padding: 0 10px;
}
