@font-face {
    font-family: "Lato";
    src: url("Lato-Regular.ttf");
}

/* Color Palette:
    Napa Green: #e9f2d2 #c4d39e #9eb16f #7f934c #61772c
    Main Text: #666 #eee
*/

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #666;
}

a {
    text-decoration: none;
    color: #9eb16f;
}

a:hover {
    text-decoration: underline;
}

.napa-header {
    background-color: #61772c;
    color: #e9f2d2;
    flex: 0 0 60px;
}

.napa-header a {
    color: #e9f2d2;
}

.napa-header a:hover {
    text-decoration: underline;
}

.napa-header-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.napa-footer {
    flex: 0 0 auto;
}

.napa-footer-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    color: #61772c;
}

.napa-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.napa-nav ul li {
    display: inline-block;
    padding: 0 10px;
}

.napa-title {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.napa-container {
    width: 900px;
    margin: 50px auto 0 auto;
    flex: 1 0 auto;
}
.napa-post {
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9f2d2;
}

.napa-post.error {
    color: red;
}

.napa-post-title {
    letter-spacing: 1px;
}

.napa-post h2, .napa-post h3, .napa-post h4, .napa-post h5, .napa-post h6 {
    font-weight: normal;
}

.napa-post pre {
    background-color: #333;
    color: #eee;
    padding: 10px 20px;
    overflow-x: auto;
}
