@font-face {
    font-family: "Lato";
    src: url("./Lato-Regular.ttf");
}


:root {
    --c-darker: #1f2124;
    --c-dark: #383a3f;
    --c-medium: #878787;
    --c-light: #b0b1b2;
    --c-lighter: #dfe0df;
    --c-lightest: #fafbfc;
    --c-main-dark: #cf5a28;
    --c-main: #f68657;
    --c-main-light: #f6b352;
    --c-main-lighter: #faeee0;
    --c-text: #555;
    --c-text-light: #aaa;
}


html, body {
    height: 100%;
}

body {
    font-family: "Lato", "Microsoft Jhenghei", "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--c-text);
}

a {
    text-decoration: none;
    color: var(--c-main-dark);
}

a:hover {
    color: var(--c-main);
}

.salvia-header {
    background-color: var(--c-darker);
    color: var(--c-lighter);
    flex: 0 0 50px;
}

.salvia-header .salvia-title {
    letter-spacing: 2px;
}

.salvia-header .salvia-title .salvia-logo {
    height: 50px;
    width: 50px;
    background-image: url(./temp-logo.png);
}

.salvia-header a {
    color: var(--c-lighter);
}

.salvia-header a:hover {
    color: var(--c-light);
}

.salvia-header-inner {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    width: 1100px;
    margin: 0 auto;
    flex: 1;
}

.salvia-footer {
    background-color: var(--c-darker);
    color: var(--c-lighter);
    flex: 0 0 auto;
    padding: 10px 0;
}

.salvia-footer-inner {
    text-align: center;
}

.salvia-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.salvia-nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: .7em;
    letter-spacing: 1px;
}

.salvia-sidebar {
    box-sizing: border-box;
    padding: 40px 15px 0 15px;
}

.salvia-widget {
    margin-bottom: 40px;
}

.salvia-widget-title {
    background-color: var(--c-darker);
    text-align: center;
    color: var(--c-lightest);
    padding: 10px 0;
    font-size: 0.7em;
    letter-spacing: 2px;
}

.salvia-widget-content {
    padding: 10px 0;
}

.salvia-widget-content ul {
    list-style: none;
    padding-left: 0;
}

.salvia-feed {
    box-sizing: border-box;
    padding: 40px 15px 0 15px;
}

.salvia-post {
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--c-lighter);
}

.salvia-post:last-child {
    border-bottom: none;
}

.salvia-post-title {
    margin-top: 0;
    letter-spacing: 1px;
}

.salvia-post-title a {
    color: inherit;
}

.salvia-post h1, .salvia-post h2, .salvia-post h3, .salvia-post h4, .salvia-post h5, .salvia-post h6 {
    font-weight: normal;
}

.salvia-post h1 {
    font-size: 1.75em;
}

.salvia-post h2 {
    margin-top: 40px;
}

.salvia-post h3 {
    margin-top: 30px;
}

.salvia-post h4, .salvia-post h5, .salvia-post h6 {
    margin: 10px 0 5px 0;
}

.salvia-post pre {
    background-color: #333;
    color: #eee;
    padding: 10px 20px;
    overflow-x: auto;
    font-size: 0.5em;
}

.salvia-post pre code {
    background-color: inherit;
    padding: 0;
}

.salvia-post code {
    background-color: var(--c-main-lighter);;
    padding: 2px 4px;
}

.salvia-post blockquote {
    border-left: 3px solid var(--c-light);
    margin: 25px 10px;
    padding: 7px 10px;
    color: var(--c-light)
}

.salvia-post blockquote p:first-child {
    margin-top: 0;
}

.salvia-post blockquote p:last-child {
    margin-bottom: 0;
}

.salvia-post h4 + blockquote {
    border-left: none;
    margin: 0 40px;
    color: #333;
}

.salvia-post img {
    max-width: 600px;
}

.salvia-post .salvia-post-meta {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: var(--c-text-light);
}

.salvia-post .salvia-post-meta li {
    display: inline-block;
    margin-right: 20px;
}

.salvia-post .salvia-post-content {

}

.salvia-post-list li {
    margin-bottom: 10px;
}

.salvia-post-list small {
    margin-right: 10px;
}
