@font-face {
    font-family: "Lato";
    src: url("http://caiyi.tech/vault/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Calligraffitti";
    src: url("http://caiyi.tech/vault/fonts/Calligraffitti/Calligraffitti-Regular.ttf");
}


/* Color Palette: http://paletton.com/#uid=14w0u0k6qHZ0NYI35RWaHwbg1qK */
:root {
    --c-darker: #232322;
    --c-dark: #5b5b5b;
    --c-medium: #878787;
    --c-light: #b0b0b0;
    --c-lighter: #dfe0df;
    --c-main: #127eb2;
    --c-main-light: #59a5ca;
    --c-text: #555;
    --c-text-light: #aaa;
}


html, body {
    height: 100%;
}

body {
    font-family: "Lato", "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--c-text);
}

a {
    text-decoration: none;
    color: var(--c-main);
}

a:hover {
    color: var(--c-main-light);
}

.salvia-header {
    background-color: var(--c-darker);
    color: var(--c-light);
    flex: 0 0 60px;
}

.salvia-header .salvia-title {
    font-family: 'Calligraffitti';
    font-size: 1.5em;
    letter-spacing: 2px;
}

.salvia-header .salvia-title .salvia-logo {
    height: 50px;
    width: 50px;
    background-image: url(./temp-logo.png);
}

.salvia-header .salvia-title .salvia-title-text {
}

.salvia-header a {
    color: var(--c-light);
}

.salvia-header a:hover {
    color: var(--c-lighter);
}

.salvia-header-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salvia-footer {
    flex: 0 0 auto;
    border-top: 1px solid var(--c-lighter);
}

.salvia-footer-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.salvia-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.salvia-nav ul li {
    display: inline-block;
    padding: 0 10px;
}

.salvia-container {
    width: 900px;
    margin: 120px auto 0 auto;
    flex: 1 0 auto;
}

.salvia-post {
    margin-bottom: 80px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--c-lighter);
}

.salvia-post:last-child {
    border-bottom: none;
}

.salvia-post-title {
    letter-spacing: 1px;
}

.salvia-post-title a {
    color: inherit;
}

.salvia-post h1, .salvia-post h2, .salvia-post h3, .salvia-post h4, .salvia-post h5, .salvia-post h6 {
    font-weight: normal;
}

.salvia-post h1 {
    font-size: 1.75em;
}

.salvia-post h2 {
    margin-top: 40px;
}

.salvia-post h3 {
    margin-top: 30px;
}

.salvia-post h4, .salvia-post h5, .salvia-post h6 {
    margin: 10px 0 5px 0;
}

.salvia-post pre {
    background-color: #333;
    color: #eee;
    padding: 10px 20px;
    overflow-x: auto;
}

.salvia-post pre code {
    background-color: inherit;
    padding: 0;
}

.salvia-post code {
    background-color: #eee;
    padding: 2px 4px;
}

.salvia-post blockquote {
    border-left: 3px solid var(--c-light);
    margin: 25px 10px;
    padding: 7px 10px;
    color: var(--c-darker)
}

.salvia-post blockquote p {
    margin: 0;
}

.salvia-post h4 + blockquote {
    border-left: none;
    margin: 0 40px;
    color: #333;
}

.salvia-post img {
    max-width: 600px;
}

.salvia-post .salvia-post-meta {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: var(--c-text-light);
}

.salvia-post .salvia-post-meta li {
    display: inline-block;
    margin-right: 20px;
}

.salvia-post .salvia-post-content {

}

.salvia-post-list li {
    margin-bottom: 10px;
}

.salvia-post-list small {
    margin-right: 10px;
}
